@import url(https://fonts.googleapis.com/css2?family=Poppins);
*{
    font-family: 'Poppins';
}

body{
    display: flex;   
    background-color: burlywood;
}

.nama-lengkap{
    background-color: rgb(244, 14, 14);
}